*.orig
*.rbc
.byebug_history
.env
.env.dev
.rspec
/config/master.key
/coverage/
/doc/api
/log
/public/system
/spec/tmp
/spec/examples.txt
/tmp
/vendor/bundle
capybara-*.html
pickle-email-*.html
rerun.txt
/.DS_Store
/**/.DS_Store
/test_results/

# Ignore master key for decrypting credentials and more.
/config/master.key
/test_results/*
